<div class="app">
  <h1>99 names</h1>
  <div class="quiz">
    <h2 id="question" class="text-left">{{questionTxt}}</h2>
    <div id="answer-buttons">
      <button *ngFor="let answer of questions[currentQuestionIndex]?.answers"
              [disabled]="selected" class="btn hover:enabled:scale-105"
              (click)="selectAnswer($event.target, answer.correct)"
              [ngClass]="selected && answer.correct ? 'correct' : ''">{{answer.text}}</button>
    </div>
    <div *ngIf="levelFailed" class="flex justify-center">
      <img class="max-h-40" src="/assets/images/failed.png" alt="level failed">
    </div>
    <div *ngIf="levelPassed" class="flex justify-center">
      <img class="max-h-40" src="/assets/images/passed.png" alt="level passed">
    </div>
    <div class="flex">
      <button *ngIf="selected" id="next-btn" (click)="nextQuestion()">{{nextButtonTxt}}</button>
      <button *ngIf="showBackToLevelsButton" id="back-to-levels-btn" class="menu-btn"
              (click)="goToLevels()">{{'Back to levels'}}</button>
      <button *ngIf="allLevelsAreCompleted" id="show-credits-btn" class="menu-btn"
              (click)="showCredits()">{{'Show credits'}}</button>
    </div>
  </div>
</div>
